body{
    background-color: aqua;
}
#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(185, 48, 153);
    border-radius: 6px;
}
#button{
    color:wheat;
    background-color: #0a2f2f;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width:700px) {
    #form{
        width: 65%;
        padding: 40px;
    }
}